<div class="well">
  <h1>Languages</h1>
  <ul class="lang-list">
    <% @langs.each do |lang| %>
      <li><%= image_tag(lang.icon, alt: "#{lang.name} icon", class: "language-icon") %> <strong><%= lang.name %></strong> [<%= link_to 'Edit', edit_language_path(lang) %>]</li>
    <% end %>
  </ul>
</div>
  