<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Release Notes</h3>
  </div>
  <div class="panel-body">
    <%= markdown(read_file_from_url('https://raw.githubusercontent.com/mhogar/resume-website/feature/ReleaseNotes.md')) %>
  </div>
</div>