<% list.each do |project| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= link_to project.name, project_path(project.id) %></h3>
    </div>
    <div class="panel-body">
      <%= project.description %>
      <% if project.languages.any? %>
        <hr><p>Languages: <%= render project.languages %></p>
      <% end %>
      <%= render 'project_actions', project: project %>
    </div>
  </div>
<% end %>