$navbar-default-bg: #54006d;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

/*
.nav.navbar-nav > li > a {
    color: #fff;
}

.nav.navbar-nav.navbar-right > li > a {
    color: #fff;
}
*/

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.center {
  text-align: center;
}

.main-navbar {
  box-shadow: 0px 3px 10px #555;
}

body {
    padding-top: 100px;
    padding-bottom: 50px;
  
    background-image: url("space_tile.jpg");

    height: 100%; 

    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

.required-label::before {
    color: #FF0000;
    content: '* ';
    display:inline;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #fff;
  color: #fff;
}

/*
.panel-default {
  box-shadow: 5px 5px 8px #777777;
}
*/