.language-badge {
  margin-left: 5px;
  margin-right: 5px;
}

.language-icon {
  width: 32px;
  height: 32px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.language-icon-default {
  font-size: 2.0em;
  margin-top: 3px;
  margin-bottom: 3px;
}
